* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.colegio {
height: 250px;
width: 100%;
}
header {
height: 50px;
background: #313D52;
color: #fff;
display: flex;
justify-content: end;
}
#btn-menu {
display: none;
}
header label {
font-size: 30px;
cursor: pointer;
display: none;
}
.menu ul {
background: #313D52;
display: flex;
list-style: none;
}
.menu ul ul {
display: none;
}
.menu a {
display: block;
padding: 15px 20px;
color: #fff;
text-decoration: none;
}
.menu a:hover {
background: rgba(0,0,0,0.3);
}
.menu a i {
display: none;
}
.menu ul li:hover ul {
display: block;
position: absolute;
}
.submenu ul li {
background: #333333;
text-align: center;
}
body {
background: #313D52;
}
h1 {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin-top: 30px;
}
.presentacion {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin-top: 0px;
font-size: 20px;
padding: 30px;
color: #fff;
margin-bottom: -70px;
}
.im {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 25px;
margin: 70px 0;
}
.im img {
padding: 20px;
height:250px; 
width:250px;
}
.im h3 {
font-size: 20px;
margin: 10px 0;
text-align: center;
color: #fff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width: 1024px) {
header {
align-items: center;
}
header label {
display: block;
margin-right: 10px;
}
.menu {
position: absolute;
top: 250px;
left: 0;
width: 80%;
transform: translateX(-100%);
transition: all 0.5s;
}
.menu ul {
display: block;
background: #555;
}
.menu ul li:hover ul {
display: none;
position: static;
}
.menu a i {
position: absolute;
right: 16px;
display: block;
top: 120px;
}
#btn-menu:checked~ .menu {
transform: translateX(0%);
}
.im {
grid-template-columns: repeat(2, 1fr); 
}
.im h3 {
font-size: 15px;
margin: -10px 0;
margin-right: 15px;
}
.im img {
height: 300px; 
width: 300px;
margin-left: 50px;
margin: 10px 90px;
}
}
@media (max-width: 700px) {
.im {
grid-template-columns: repeat(1, 1fr);
}
.im img {
height: 350px; 
width:100%;
margin-left: 0px;
margin-right: 0px;
}
.im h3 {
font-size: 25px;
}
}
@media (max-width: 500px) {
h1 {
font-size: 25px;
}
.presentacion {
margin-top: 0px;
font-size: 15px;
padding: 25px;
}
.im img {
height: 200px; 
}
.im h3 {
font-size: 20px;
}
}
